// Colors
$primary:   #3742fa;
$secondary: #747d8c;
$success:   #2ed573;
$info:      #e84393;
$warning:   #ffa502;
$danger:    #ff6348;
$light:     #f1f2f6;
$dark:      #2f3542;

$body-bg: $light;
$body-color: $dark;

// Typography
$font-family-base: 'KoPubWorld Dotum', sans-serif;
$font-size-base: 0.9rem;

// Bootstrap
$enable-rounded: false;
$enable-shadows: true;
$grid-gutter-width: 1rem;
